{%extends 'base.html' %}
{%import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{super()}}
    Bienvenido
{% endblock %}

{% block content %}
    {% if userIp %}
        <h1>Hello world desde Flask, tu ip es: {{ userIp }}</h1>
    {% else %}
        <a href="{{ url_for('index') }}">Ir a Inicio</a>
    {% endif %}

    <div class="container">
        <!--<form action="{{ url_for('hello')}}" method="POST">-->
            <!--{{ login_form.username }}-->
            <!--{{ login_form.username.label }}-->
        <!--</form>-->
        {{ wtf.quick_form(login_form) }}
    </div>

    <ul> 
        {%for todo in toDos %}
            {{macros.render_todo(todo)}}
        {% endfor %}
    </ul>
{% endblock %}
